body{
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-link.active {
    border-bottom: 3px solid #31BF3F;
}

header .nav a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color:#31BF3F;
    font-weight: bold;
}

/* -------REVIEWS--------- */

.reviews p{
    font-size: 1rem;
    font-weight: normal;
}
.reviews p::before {
    background-image: url(../img/quote.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px;
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 1rem;
}
.reviews-footer {
    text-align: right;
    color: #9999CC;
    font-weight: bold;
    margin-top: 1rem;
}

/* -------ONLINE MENU--------- */

.menu p {
    font-size: .9rem;
}
i {
    color: #9999CC;
    font-size: 2rem;
}

.dishes{
    object-fit: cover;
    height: 8rem;
}

.card h2{
    margin: 0px 0px
}