extends ../layout/index
block content
    .container
        h1= page
        p Have any questions or comments? We'd love to hear from you. 
        p.alert.alert-success.text-center Your message was sent!   