extends ../layout/index
block content
    .container
        .row.mt-4
            .col-6.pr-5.special
                h2.mb-4 TODAY'S SPECIAL 
                h3 Lorem ipsum dolor
                p Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                a(href=`menu/2`, class="btn btn-success mt-4")  LEARN MORE
            .col-6
                img(src=`/img/anna-pelzer-home2.jpg`, class="img-fluid")
        .row.mt-5
            h2.homepage-menu Check out our online menu
            include ../layout/partials/menus
        .row.justify-content-between
            .col-6.feedback.p-4
                div.mr-3
                    h3 We’d love your feedback
                    p Excepteur sint occaecat cupidatat non proident, sunt deserunt mollit anim id est laborum.
                    a(href=`reviews`, class="btn btn-success") Write a Review
                img(src=`/img/undraw_feedback.svg`, class="img-fluid")
            .col-5.discount.card.text-center.p-4
                i.fas.fa-comments-dollar.mb-2
                h3 10% Discount on your next meal
                p Eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    
                       
